<!DOCTYPE html>
<html lang="en">

<head>
	<title>Eat-da-burger</title>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link rel="apple-touch-icon" sizes="180x180" href="../../public/assets/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../public/assets/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../public/assets/images/favicon-16x16.png">
	<link rel="manifest" href="../../public/assets/images/site.webmanifest">
</head>

<body>
	{{{ body }}}

	{{!-- Add in jQuery --}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/script.js"></script>
</body>

</html>